* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

 h1 {
  font-weight: 600;
  font-size: 54px;
  margin-bottom: 6px;
 }

 h2 {
  font-weight: 600;
  font-size: 28px;
  margin: 0 0 28px;
 }

 h3 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 46px;
  margin-bottom: 46px;
 }

 h4 {
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 24px;
  text-align: center;
 }

 p {
   margin: 0;
   line-height: 160%;
 }

.p-bold {
   font-weight: bold;
 }

 ul {
  margin: 0;
  padding: 0;
 }

 .header-info li{
  font-weight: normal;
  font-size: 20px;
  margin: 24px 0;
  list-style-type: none;
 }

 .header-info li a{
  color:#000000;
 }

 nav a:hover {
   color: #2238FF;
 }

 nav a {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: underline;
 }

 .header-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 nav ul {
   display: flex;
  justify-content: space-between;
  list-style-type: none;
 }

 nav {
   background-color: #B9F1FD;
   padding: 38px 240px;
 }

 section, nav {
   padding: 40px 0px 40px;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .section-container {
   width: 100%;
   max-width: 966px;
 }

 section:first-child {
   padding-top: 60px;
 }

 .skills-info {
   display: flex;
   justify-content: space-between;
 }

 .skills-container {
   padding: 24px 36px;
   border: 4px solid #B9F1FD;
   display: flex;
   flex-direction: column;
   width: 310px;
 }

 .skills-list {
   padding: 0 0 0 20px;
 }

 .skills-list li {
   padding-bottom: 20px; 
 }

 .skills-list :last-child {
  padding-bottom: 0;
}

.code {
  background-color: #E5E5E5;
  padding: 10px 0;
}

.education-info {
  display: flex;
  justify-content: space-between;
}

.education-container {
  margin-bottom: 20px;
}

.education-container:last-child {
  margin-bottom: 0;
}

.education-info {
  padding-top: 10px;
}

.language-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.language-info:last-child{
  padding-bottom: 0;
}

.language-level {
  width: 222px;
  display: flex;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: space-between;
  border: 4px solid #B9F1FD;
  padding: 20px;
  margin-bottom: 20px;
}

#portfolio a {
  color:#000000;
  text-decoration: none;
}

#portfolio a:hover {
  border: 4px solid #2238FF;
}

footer {
  background-color: #DFF9FF;
}

footer a{
  color:#000000;
}

footer a:hover {
  color:#2238FF;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}